@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --ui-topmost-height: 45px;
    --editor-width: 800px;
}

.ui-theme-light {
    --background-primary: #f2f3f5;
    --background-primary-alt: #e8ebec;
    --background-secondary: #cfd2d8;
    --background-secondary-alt: #c4c7cf;
    --background-modifier-border: #c0c5cc;
    --ui-text-primary: #060738;
    --ui-text-secondary: #51566b;
    --editor-text-primary: #060738;
    --editor-text-secondary: #a0a0a0;
    --editor-text-tertiary: #a0a0a0;
    --editor-draw-primary: #060738;
    --editor-draw-secondary: #8c94a3;
    --editor-draw-tertiary: #cbd1dd;
    --editor-draw-red: #F94144;
    --editor-draw-orange: #F3722C;
    --editor-draw-yellow: #FBB04A;
    --editor-draw-green: #3fb483;
    --editor-draw-cyan: #0fa0c0;
    --editor-draw-blue: #134aaf;
    --editor-draw-purple: #6d2c99;
    --editor-draw-pink: #e72e8b;
    --editor-draw-bark: #834e35;
    --ui-accent-color: rgb(240, 36, 0);
    --ui-accent-color-rgb: 240, 36, 0;
}

.ui-theme-dark {
    --background-primary: #101114;
    --background-primary-alt: #16181b;
    --background-secondary: #181a1d;
    --background-secondary-alt: #212327;
    --background-modifier-border: #292c30;
    --ui-text-primary: rgb(213, 226, 226);
    --ui-text-secondary: rgb(128, 144, 148);
    --editor-text-primary: rgb(213, 226, 226);
    --editor-text-secondary: #a0a0a0;
    --editor-text-tertiary: #a0a0a0;
    --editor-draw-primary: rgb(213, 226, 226);
    --editor-draw-secondary: rgb(87, 95, 104);
    --editor-draw-tertiary: rgb(32, 35, 43);
    --editor-draw-red: #ff3f5f;
    --editor-draw-orange: #ff9845;
    --editor-draw-yellow: #ffff61;
    --editor-draw-green: #3eff7e;
    --editor-draw-cyan: #51dcff;
    --editor-draw-blue: #3352ff;
    --editor-draw-purple: #cd76ff;
    --editor-draw-pink: #ff97cb;
    --editor-draw-bark: #8b573f;
    --ui-accent-color: #ff4a1d;
    --ui-accent-color-rgb: 255, 74, 29;
}


.ui-theme-forest {
    --background-primary: #ffefdd;
    --background-primary-alt: #ffe6cb;
    --background-secondary: #e9d7ca;
    --background-secondary-alt: #ddc6b5;
    --background-modifier-border: #d8c4b0;
    --ui-text-primary: #342c25;
    --ui-text-secondary: #6b5451;
    --editor-text-primary: #342c25;
    --editor-text-secondary: #6b5451;
    --editor-text-tertiary: #ae958e;
    --editor-draw-primary: #342c25;
    --editor-draw-secondary: #6b5451;
    --editor-draw-tertiary: #ae958e;
    --editor-draw-red: #9a192e;
    --editor-draw-orange: #ac5813;
    --editor-draw-yellow: #c4c421;
    --editor-draw-green: #15a445;
    --editor-draw-cyan: #0e8baa;
    --editor-draw-blue: #0e218c;
    --editor-draw-purple: #7e0987;
    --editor-draw-pink: #9b0c53;
    --editor-draw-bark: #355540;
    --ui-accent-color: #c64216;
    --ui-accent-color-rgb: 255, 74, 29;
}

body {
    margin: 0;
    background: var(--background-primary);
    width: 100%;
    height: 100vh;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: var(--editor-text-primary);
    overflow: hidden !important;
}

#app-container {
    background: var(--background-primary);
    height: calc(100vh - 76px);
    margin-top: 86px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

#document-container {
    touch-action: pan-x pan-y;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

#backgroundPattern {
    position: absolute;
    top: 0;
    color: var(--editor-text-primary);
    width: var(--editor-width);
    min-height: calc(100vh - 100px);
    height: 100%;
    box-sizing: border-box;
}

.document-background-grid #backgroundPattern {
    background-color: var(--background-secondary);
    mask-position: 10px 10px;
    
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='1' height='20' fill='black'/%3E%3Crect width='20' height='1' fill='black'/%3E%3C/svg%3E");
}

.document-background-lined-narrow #backgroundPattern {
    background-color: var(--background-secondary);
    mask-position: 0px -1px;
    clip-path: polygon(0 60px, 100% 60px, 100% 100%, 0 100%);
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='20' height='1' fill='black'/%3E%3C/svg%3E");
}

.document-background-lined-wide #backgroundPattern {
    background-color: var(--background-secondary);
    mask-position: 0px -5px;
    clip-path: polygon(0 80px, 100% 80px, 100% 100%, 0 100%);
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='40'%3E%3Crect width='20' height='1' fill='black'/%3E%3C/svg%3E");
}

.document-background-dot-grid #backgroundPattern {
    background-color: var(--background-secondary-alt);
    mask-position: 10px 10px;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='1' height='1' fill='black'/%3E%3C/svg%3E");
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
#handwritingTop {
    z-index: 20;
}
#handwritingBottom {
    z-index: 1;
    filter: saturate(100%) brightness(120%);
}

#document-title {
    color: var(--editor-text-primary);
    padding: 0 24px;
}

#document-main-area {
    width: var(--editor-width);
    position: relative;
    border: 1px var(--background-modifier-border) dashed;
    border-top: none;
}

#textEditable {
    position: relative;
    color: var(--editor-text-primary);
    width: 100%;
    min-height: calc(100vh - 100px);
    height: 100%;
    border-top: none;
    padding: 40px 24px;
    word-break: break-all;
    box-sizing: border-box;
    transition: 0.1s min-height;
    z-index: 10;
}

#textEditable:focus {
    outline: none;
}

#workspace-header {
    width: 100%;
    background: var(--background-secondary);
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 100;
}

#workspace-file-tabs {
    width: 100%;
    background: var(--background-secondary);
    border-bottom: 1px var(--background-modifier-border) solid;
    height: var(--ui-topmost-height);
    padding: 0 24px;
    box-sizing: border-box;
}

#workspace-current-ribbon {
    position: relative;
    width: 100%;
    background: var(--background-primary);
    border-bottom: 1px var(--background-modifier-border) solid;
    height: 41px;
    padding: 0 24px;
    box-sizing: border-box;
}

#ribbon-current-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ribbon-current-right {
    float: right;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ribbon-button {
    all: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ui-accent-color);
    border-radius: 4px;
    padding: 4px;
}

.ribbon-button i {
    font-size: 22px;
}
#text-editor-settings {
    width: 100%;
    background: var(--background-secondary);
    position: fixed;
    bottom: calc(-49px - calc(0.25em + env(safe-area-inset-bottom)));
    z-index: 100;
    width: 100%;
    background: var(--background-primary);
    border-top: 1px var(--background-modifier-border) solid;
    height: 48px;
    padding-bottom: calc(0.25em + env(safe-area-inset-bottom));
    transition: 0.3s bottom;
}

#text-editor-settings.open {
    bottom: 0;
}

#text-editor-settings-inner {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

#text-editor-settings-inner .divider {
    width: 2px;
    height: 30px;
    border-radius: 2px;
    background: var(--background-secondary);
}

.setting-button {
    all: initial;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ui-text-secondary);
    border-radius: 4px;
    cursor: pointer;
}

.setting-button i {
    font-size: 24px;
}

.setting-button:not(.color-button):focus, .setting-button:not(.color-button):hover {
    background: var(--background-primary-alt);
}
.setting-button:not(.color-button).active {
    color: var(--ui-accent-color);
    background: rgb(var(--ui-accent-color-rgb), 0.15);
}
.color-button:focus, .color-button:hover {
    background: var(--background-primary-alt);
}
.color-button.active {
    background: var(--background-primary-alt);
    border: 1px solid var(--background-modifier-border);
    box-sizing: border-box;
}

#handwriting-settings {
    background: var(--background-secondary);
    position: fixed;
    background: var(--background-primary);
    border: 1px var(--background-modifier-border) solid;
    border-radius: 8px;
    height: 40px;
    padding: 4px;
    left: 1em;
    bottom: calc(1em + env(safe-area-inset-bottom));
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.3s bottom, 0.3s height;
    overflow: hidden;
    z-index: 100;

}
.handwriting-persistent, .handwriting-persistent * {
    opacity: 1 !important;
    pointer-events:  all !important;
}

#handwriting-settings * {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

#handwriting-settings.open {
    height: 228px;
}

#handwriting-settings.open * {
    pointer-events: all;
    opacity: 1;
}

#handwriting-settings-carat i {
    transition: 0.3s transform;
}
#handwriting-settings.open #handwriting-settings-carat i {
    transform: rotate(180deg);
}
#current-draw-color {
    opacity: 1;
    pointer-events: all;
}

#handwriting-settings.open #current-draw-color,#handwriting-settings.open #current-draw-color i  {
    opacity: 0 !important;
    pointer-events: none !important;
}

#text-editor-settings.open ~ #handwriting-settings {
    bottom: calc(1em + 48px + env(safe-area-inset-bottom));
}

#handwriting-settings-color-section  {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: flex-start;
    flex-direction: column;

}

.handwriting-settings-horizontal {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    flex-direction: row;

}

#handwriting-settings .divider {
    height: 2px !important;
    width: 150px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--background-secondary);
}